
body{
    background-color: rgb(73, 69, 69);
    overflow-x: hidden;
    overflow-y: hidden;
}
.Ball{
    width: 3rem;
    height: 3rem;
    background-color: red;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    top: 88vh;
    left: 1.5rem;
}